:root {
	--background: white;
	--background2: #e7ddee;
  --background3: #c88afe;
	--foreground: black;

  --success: #e4eedd;
  --error: #eedde4;

  --success2: #c0fe8a;
  --error2: #fe8ac0;

	--accent1: #4c018d;
  --accent1transparent: rgba(76, 1, 141, 0.5);
  --accent1complement: #428D01;
  --darkaccent1: #c88afe;
  --darkaccent1complement: #C0FE8A;

  --accentdesaturated: #4a2569;
}

[data-theme="dark"] {
	--background: black;
	--background2: #39006a;
  --background3: #4c018d;
	--foreground: white;

  --success: #316a00;
  --error: #6a0031;

  --success2: #428d01;
  --error2: #8d0142;

	--accent1: #c88afe;
  --accent1transparent: rgba(200, 138, 254, 0.5);
  --accent1complement: #C0FE8A;
  --darkaccent1: #c88afe;
  --darkaccent1complement: #C0FE8A;

	--accentdesaturated: #e7ddee;
}